{
  "extends": ["eslint:recommended", "google"],
  "rules": {
    // additional, per-project rules
  },
  "parserOptions": {
    "sourceType": "module",
    //"allowImportExportEverywhere": true,
    //"codeFrame": false,
    "ecmaVersion": 8
  },
  "env": {
    "amd": true,
    "node": true,
    "mocha": true,
    "es6": true,
  }
}
