{
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "switch-colon-spacing": ["error", {"after": true, "before": false}]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": false,
  },
  "env": {
    "node": true,
    "mocha": true,
  }
}
