[submodule "ethereumjs-vm"]
	path = ethereumjs-vm
	url = git@github.com:InsidiousMind/ethereumjs-vm.git
[submodule "testrpc"]
	path = testrpc
	url = https://github.com/ethereumjs/testrpc.git
	branch = master
[submodule "ganache-core"]
	path = ganache-core
	url = git@github.com:InsidiousMind/ganache-core.git